<div id="sticky-notes">
  <% @note_list.each do |v| %>
    <div class="sticky-note">
      <textarea id="stickynote-<%= v.id%>"><%= v.note%></textarea>
      <a href="#" id="remove-<%= v.id%>"class="delete-sticky">X</a>
    </div>
  <%  end %>
  <div id="create">+</div>
</div>
<div class="clear-both"></div>