<%= link_to "Add New",:controller => controller_name, :action => 'create' %>

<table class="tip">    
    <tr class="title">
      <td>ID</td>
      <td>Title</td>
      <td>Price</td>
      <td></td>
      <td></td>
    </tr>
    
    <% if(!@book_list.blank?) 
      @book_list.each do |v| %>
    <tr>  
      <td><%= v.id  %> </td>
      <td><%= v.title  %> </td>
      <td><%= v.price  %> </td>      
      <td><%= link_to "Edit", {:controller => controller_name,:action => 'update', :id => v.id} %> </td>
      <td><%= link_to "Add to Cart",{:controller => controller_name, :action => 'addtocart', :id => v.id}%> </td>
    </tr>    
  
    <%     
      end
      else%>
       <tr>     
         <td colspan="100%">No records found</td>
    </tr>     
    <%  end %>
  </table>


<%= flash[:successMsg] %>
<%= flash[:errorMsg] %>

    
    <%= paginate @book_list%>
 