<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <%= stylesheet_link_tag 'StickyNotes' %>
    <%= favicon_link_tag 'globe.ico'%>
    <title><%= @pagetitle ? @pagetitle : "Sticky Notes" %></title>
    <%= javascript_include_tag "custom" %>
  </head>
  <body>
    <canvas id="canvas" class="blur" width="500" height="375"></canvas>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sticky Notes</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div>            
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
      <hr>
      <footer>
        <div class="f-author">
          <p>Nguyen Thanh</p>
          <p>nguyen.ba.thanh@kloon.vn</p>
        </div>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
